<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <%/*We include the CSS*/ %> 
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include("includes/navbar.ejs")%> <%/*We include navbar*/ %> 

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container_new">
                    <div class="card-body" id="card">
                            <div class="table-responsive">
                                <form method="GET" action="/tables/create/<%=table_name%>">
 
                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-plus"><p>Insert into <%=table_name%></p></i></button>

                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <% col_names.forEach((i, _) => { %>
                                            <th><%=i.Field %></th>
                                        <% }) %>
                                        <th></th>
                                        <th></th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    <% query_res.forEach((i, _) => { %> <%/*i is the json object of the row of the database*/ %>
                                        <tr>
                                            
                                            <% for(const key in i) { %> <%/*key = (executive_id or  executive_name)*/ %>
                                                <%//console.log(i[0]) %>
                                                <td><%= i[key] %></td>
                                            <% } %>
                                                                                                                                      
                                            <form action="/update/show_form_update/" method="POST">
                                                <td> 
                                                    <%/*hidden inputs can not be seen by the user !*/ %>
                                                    <%/*FOR EXAMPLE SET tupe = text !*/ %>
                                                    <input type="hidden" name="table" value="<%= table_name%>">
                                                    <input type="hidden" name="object" value="<%= JSON.stringify(i) %>"> <%/* i: {exec_id : 2, exec_name:Tereza}* => "{\"exec_id\":2,\"exec_name\":Tereza\"}"}*/%>
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-pencil"></i></button>
                                                </td>
                                            </form>
                                            <form action="/delete/" method="POST">
                                                <td> 
                                                    <input type="hidden" name="table" value="<%= table_name%>">
                                                    <input type="hidden" name="object" value="<%= JSON.stringify(i) %>">
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                        <% }) %>
                                </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    

</body>
</html>