<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <%/*We include the CSS*/ %> 
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <%- include("includes/navbar.ejs")%> <%/*We include navbar*/ %> 

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (query_res.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No answer can be found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Researcher Name</th>
                                        <th>Organization Name ID</th>
                                        <th>Total Funding Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% query_res.forEach((i, _) => { %>
                                        <tr>
                                            <td><%= i.executive_name %></td>
                                            <td><%= i.organization_name %></td>
                                            <td><%= i.Total_Funding_Amount %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>