<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <%/*We include the CSS*/ %> 
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include("includes/navbar.ejs")%> <%/*We include navbar*/ %> 
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="programs-criteria" action="/programs/projects/criteria" method="POST">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="name">Date</label>
                        <input type="date" class="form-control" name="date">
                    </div>

                    <div class="form-group col-sm-3 mb-3">
                        <p>Duration:</p>
                        <input type="radio" id="1" name="duration" value="1">
                        <label for="1">1</label>
                        <input type="radio" id="2" name="duration" value="2">
                        <label for="2">2</label>
                        <input type="radio" id="3" name="duration" value="3">
                        <label for="3">3</label>
                        <input type="radio" id="4" name="duration" value="4">
                        <label for="4">4</label>
                    </div>
                    
                    <div class="form-group col-sm-3 mb-3">
                        <label for="exec_id">Executive id</label>
                        <input type="number" id="exec_id" name="exec_id" min="1" placeholder="Enter executive id">
                    </div>
            
                    <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
                </form>
            </div>
        </div>
        
    </div>
    
        <%/*if the variable query res*/%>
        <%if(locals.query_res){ %>
            <% /*HTML*/ %>
            <div class="container">
                <div class="row" id="row">
                    <div class="col-md-12">
                        <div class="card" id="card-container">
                            <div class="card-body" id="card">
                                <% if (query_res.length == 0) { %> 
                                    <h1 style="margin-top: 5rem;">There are not Programs and Projects with these criteria !</h1>
                                <% } else { %>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th>Program id</th>
                                                <th>Program name</th>
                                                <th>Project id</th>
                                                <th>Project title</th>
                                                <th></th>    
                                            </tr>
                                            </thead>
                                        <tbody>
                                        <% query_res.forEach((i, _) => { %>
                                        <tr>
                                            <td><%= i.program_id %></td>
                                            <td><%= i.program_name %></td>
                                            <td><%= i.project_id %></td>
                                            <td><%= i.title %></td>
                                            <form method="GET" action="/projects/<%=i.project_id %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-hand-o-left"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                        <% }) %>
                                        </tbody>
                                        </table>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%> 
   
<script src="assets/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>